* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Ownglyph_ryurue-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryurue-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-snap-type: y mandatory;
}

h1 {
  text-align: center;
  margin: 10px;
}

img {
  border-radius: 10000px;
  width: 30%;
  margin: 24px auto;
  box-shadow: 10px 10px 20px 4px #00000030;
}

a {
  margin: 20px;
  padding: 3px 10px 3px 10px;
  color: #34268f;
  width: 10%;
}

blockquote {
  display: inline;
  text-align: center;
  padding: 24px;
  margin: 30px;
  border-radius: 100000px;
  background-color: #eee;
  color: #282828;
  text-size-adjust: 50pt;
}

dt {
  width: 30%;
  display: inline-block;
  text-align: left;
  font-weight: bold;
}

dd {
  display: inline-block;
  width: 60%;
  text-align: left;
}

.center {
  text-align: center;
}

h2,
h3 {
  margin: 24px;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 60%;
}

td {
  padding: 12px;
  font-size: 23px;
  text-align: center;
}

th {
  padding: 12px;
  border-bottom: 1px solid #d7567f;
  font-size: 35px;
}

p {
  width: 80%;
  margin: 12px auto;
  line-height: 1.5;
  word-break: keep-all;
  font-size: 23px;
}

p::after,
p::before {
  display: inline-block;
  content: '"';
  font-size: 20pt;
  line-height: 1px;
  font-family: serif;
}

input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 6px;
  min-height: 32px;
}

form {
  max-width: 60%;
  margin: auto;
}

.external-link {
  margin: 4px;
  padding: 12px;
  display: inline-block;
  border-radius: 100000px;
  text-decoration: none;
}

.top-bottom-12px {
  margin-top: 20px;
  margin-bottom: 20px;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: start;
  font-family: 'Ownglyph_ryurue-Rg';
}

.page:nth-of-type(1) {
  background-color: #9ab9ff;
  color: #282828;
  font-size: 30px;
  ;
}

.page:nth-of-type(2) {
  background-color: #a4c3ff;
}

.page:nth-of-type(3) {
  background-color: #aecdff;
}

.page:nth-of-type(4) {
  background-color: #b8d7ff;

  h2 {
    font-size: 40px;
    margin: 10% 0% 0% 10%;
  }
}

.page:nth-of-type(5) {
  background-color: #cce1ff;

  h2 {
    font-size: 40px;
    margin: 10% 0% 0% 10%;
  }
}

.page:nth-of-type(6) {
  background-color: #e0ebff;

  h2 {
    font-size: 50px;
    font-weight: 3000;
    margin: 10% 0% 0% 10%;
  }

  .pharagraph {
    margin: auto;
  }
}

.page:nth-of-type(7) {
  background-color: #ebf5ff;

  h3 {
    font-size: 40px;
    margin: 3% 0% 0% 3%;
  }
}